body {
  background: url(gif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.judul {
  color: white;
  font-size: 20px; 
  font-weight: bold; 
  margin-bottom: 10px; 
  text-transform: uppercase;
}

.box {
  background-color: rgba(88, 15, 15, 0.7);
  text-align: center;
  width: 90%; 
  max-width: 1200px;  
  height: auto;  
  border: solid 3px white;
  border-style: dashed;
  border-radius: 30px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  padding: 20px;  
}

td,
th,
table {
  border: solid 1px white;
  border-collapse: collapse;
}

td,
th {
  width: 10%;
  transition: background-color 0.3s ease;
  text-align: center; 
}

table {
  width: 100%;  
  max-width: 100%;  
  height: auto;  
  margin: 0 auto;
  color: white;
}

td:hover,
th:hover {
  background-color: #d88989c1;
}

@media (max-width: 500px) {
  .box {
    width: 95%; 
  }

  table {
    font-size: 12px; 
  }
}
